@page
@model Fivesemtest.Pages.Users.IndexModel

@{
    ViewData["Title"] = "Список пользователей";
}

<h1>Список пользователей</h1>

<table class="table">
    <thead>
        <tr>
            <th>Имя пользователя</th>
            <th>Email</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>
                    <a href="./Edit?id=@user.Id" class="btn btn-primary">Редактировать</a>
                    <a href="./Delete?id=@user.Id" class="btn btn-danger">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
