@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}

<div class="main-container">
    <div class="content">
        <h1 class="main-title">Добро пожаловать!</h1>

        @if (User.IsInRole("admin"))
        {
            <div class="admin-panel">
                <h2>Администрирование</h2>
                <div class="admin-links">
                    <a asp-page="/Users/Index" class="nav-link">Пользователи</a>
                </div>
            </div>
        }

        else if (User.IsInRole("user"))
        {
            <div class="customer-panel">
                <div class="customer-links">
                    <a asp-page="/Users/LK" class="nav-link">Личный кабинет</a>
                </div>
            </div>
        }
        else
        {
            <p>Пожалуйста, войдите или зарегистрируйтесь.</p>
        }
    </div>
</div>